@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
    background-image: url("../images/backgroundImage.png");
    background-size: contain;
    font-size: 1vmax;
}

.headerMenuContainer{
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
}
.topMenuIconsContainer{
    background-color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.linkedinIcon{
    width: 5vh;
}
.linkedinIcon:hover, .linkedinIcon:active {
    background-color: rgb(134, 169, 249);
}
.githubIcon{
    width: 5vh;
}
.githubIcon:hover, .githubIcon:active {
    background-color: rgb(157, 157, 157);
}
.mailIcon{
    width: 5vh;
}
.mailIcon:hover, .mailIcon:active {
    background-color: rgb(231, 200, 106);
}
.pdfIcon{
    width: 5vh;
}
.pdfIcon:hover, .pdfIcon:active {
    background-color: rgb(255, 94, 94);
}


.techAndDescriptionContainer{
    display: block;
    flex-direction: column;
}
.awsIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.awsIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .awsText {
    display: block;
}
.awsText{
    position: absolute;
    margin-left: -4%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.mongoIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.mongoIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .mongoDbText {
    display: block;
}
.mongoDbText{
    position: absolute;
    margin-left: -1.7%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.reactNativeIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.reactNativeIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .reactNativeText {
    display: block;
}
.reactNativeText{
    position: absolute;
    margin-left: -2.2%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.dockerIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.dockerIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .dockerText {
    display: block;
}
.dockerText{
    position: absolute;
    margin-left: -0.7%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.springBootIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.springBootIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .springBootText {
    display: block;
}
.springBootText{
    position: absolute;
    margin-left: -2%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.nodeJsIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.nodeJsIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .nodeJsText {
    display: block;
}
.nodeJsText{
    position: absolute;
    margin-left: -0.9%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.htmlIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.htmlIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .htmlText {
    display: block;
}
.htmlText{
    position: absolute;
    margin-left: -0.6%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.cssIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.cssIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .cssText {
    display: block;
}
.cssText{
    position: absolute;
    margin-left: -0.2%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}
.sqliteIcon{
    width: 2dvw;
    background-color: white;
    transition: background-color 1.5s ease;
    border-radius: 100%;
    padding: 5px;
}
.sqliteIcon:hover{
    background-color: burlywood;
}
.techAndDescriptionContainer:hover .sqliteText {
    display: block;
}
.sqliteText{
    position: absolute;
    margin-left: -0.8%;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
    display: none;
}


.mainContainer {
    padding-top: 5%;
}

.perfilContainer{
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
}
.imageContainer{
    display: block;
    margin-bottom: 5%;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}
.profileImageContainer{
    display: block;
    margin-bottom: 5%;
}

.imagePerfil{
    object-fit: cover;
    width: 40vh;
    height: 40vh;
    border-radius: 90%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.profileTextContainer{
    background-color: white;
    color: black;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    border-radius: 2%;
    margin-bottom: 5%;
    text-align: start;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
    text-align: center;
}

.textTitle{
    color: rgb(198, 147, 81);
    margin-bottom: 5%;
    font-size: 2vmax;

}

.textBody{
    max-width: 400px;
}
.sectionTitle{
    text-align: start;
    margin-left: 13%;
    color: burlywood;
    font-size: 2vmax;
}

.projectContainer{
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.projectTextContainer{
    background-color: white;
    color: black;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 4%;
    border-radius: 2%;
    text-align: start;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.projectLogo{
    object-fit: cover;
    margin-top: 2%;
    width: 30vh;
    height: 25vh;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}

.techsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.imageContainer{
    display: block;
    max-height: 400px;
    margin-bottom: 5%;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}

.profileSection .conceitosPopupContainer {
    visibility: hidden;
    display: flexbox;
    width: 98vw;
    padding-bottom: 5%;
    background-color: #FAF48D;
    color: black;
    border-radius: 2%;
    position: absolute;
    z-index: 1;
}

.profileSection .behealthyPopupContainer {
    visibility: hidden;
    width: 99vw;
    margin-left: -0.5%;
    padding-bottom: 7%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 2%;
    position: absolute;
    z-index: 1;
}


.closePopup{
    position: absolute;
    cursor: pointer;
    margin-left: 90%;
    margin-top: 5vh;
}
.closeIcon{
    width: 3vw;
    min-width: 20px;
}

.conceitosTextTitle{
    margin-left: 5%;
    margin-top: 5%;
    color: black;

}
.behealthyTextTitle{
    margin-left: 5%;
    margin-top: 5%;
    color: #CF6766;
}

.projectConceitosDescriptionContainer{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 2%;

}
.projectBehealthyDescriptionContainer{
    background-color: #FFF0BB;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 2%;

}

.profileSection .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.projectImagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
    flex-wrap: wrap;
}

.conceitosProjectSubTitle{
    color: #F58EAA;
    margin-top: 5vh;
}
.behealthyProjectSubTitle{
    color: #4E8E4D;
    margin-top: 5vh;
}
.projectPopupImage{
    max-width: 25vw;
}
.projectMobilePopupImage{
    max-height: 35vh;
}

.firstConceitosFunctionalityImage{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vw;
    height: 25vw;
    min-width: 300px;
    min-height: 250px;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
    background-image: url("../images/loginConceitos.png");
    margin: 1%;
    
}

.firstConceitosFunctionalityImage:hover {
    background-image: url("../images/video1Conceitos.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}

.secondConceitosFunctionalityImage{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vw;
    height: 25vw;
    min-width: 300px;
    min-height: 250px;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
    background-image: url("../images/homeConceitos.png");
    margin: 1%;
    
}

.secondConceitosFunctionalityImage:hover {
    background-image: url("../images/video2Conceitos.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}

.firstBehealthyFunctionalityImage{
    width: 10vw;
    height: 20vw;
    min-width: 100px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
    background: url("../images/behealthy-login.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1%;
}

.firstBehealthyFunctionalityImage:hover {
    background: url("../icons/awsIcon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.secondBehealthyFunctionalityImage{
    width: 10vw;
    height: 20vw;
    min-width: 100px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
    background: url("../images/behealthy-login.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1%;
}

.secondBehealthyFunctionalityImage:hover {
    background: url("../icons/awsIcon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.thirdBehealthyFunctionalityImage{
    width: 10vw;
    height: 20vw;
    min-width: 100px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
    background: url("../images/behealthy-login.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1%;
}

.thirdBehealthyFunctionalityImage:hover {
    background: url("../icons/awsIcon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.functionalitiesText{
    text-align: center;
}