
body {
    font-family: "Lato", sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
    background-image: url("../images/backgroundImage.png");
    object-fit: cover;
    
}

.headerMenuContainer{
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
}
.topMenuIconsContainer{
    background-color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.linkedinIcon{
    height: 50px;
}
.linkedinIcon:hover, .linkedinIcon:active {
    background-color: rgb(134, 169, 249);
}
.githubIcon{
    height: 50px;
}
.githubIcon:hover, .githubIcon:active {
    background-color: rgb(157, 157, 157);
}
.instagramIcon{
    height: 50px;
}
.instagramIcon:hover, .instagramIcon:active {
    background-color: rgb(255, 176, 176);
}
.mailIcon{
    height: 45px;
}
.mailIcon:hover, .mailIcon:active {
    background-color: rgb(231, 200, 106);
}
.pdfIcon{
    height: 45px;
}
.pdfIcon:hover, .pdfIcon:active {
    background-color: rgb(255, 94, 94);
}

.awsIcon{
    height: 45px;
}
.awsIcon:hover, .awsIcon:active {
    background-color: rgb(255, 202, 87);
}
.mongoIcon{
    height: 45px;
}
.mongoIcon:hover, .mongoIcon:active {
    background-color: rgb(106, 230, 57);
}
.reactNativeIcon{
    height: 45px;
}
.reactNativeIcon:hover, .reactNativeIcon:active {
    background-color: rgb(97, 203, 252);
}
.dockerIcon{
    height: 45px;
}
.dockerIcon:hover, .dockerIcon:active {
    background-color: rgb(57, 161, 230);
}
.springBootIcon{
    height: 45px;
}
.springBootIcon:hover, .springBootIcon:active {
    background-color: rgb(112, 253, 84);
}

.nodeJsIcon{
    height: 45px;
}
.nodeJsIcon:hover, .nodeJsIcon:active {
    background-color: rgb(121, 248, 96);
}
.htmlIcon{
    height: 45px;
}
.htmlIcon:hover, .htmlIcon:active {
    background-color: rgb(255, 133, 52);
}
.cssIcon{
    height: 45px;
}
.cssIcon:hover, .cssIcon:active {
    background-color: rgb(31, 35, 255);
}
.sqliteIcon{
    height: 45px;
}
.sqliteIcon:hover, .sqliteIcon:active {
    background-color: rgb(113, 187, 255);
}


.mainContainer {
    text-align: start;
    padding-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

.perfilContainer{
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
}
.imageContainer{
    display: block;
    max-height: 400px;
    margin-bottom: 5%;
    flex-direction: row;
}

.imagePerfil{
    object-fit: cover;
    max-height: 400px;
    max-width: 80%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.profileTextContainer{
    background-color: white;
    color: black;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    border-radius: 2%;
    margin-bottom: 5%;
    text-align: start;
    max-width: 72%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}

.textTitle{
    color: rgb(198, 147, 81);
    margin-bottom: 5%;
}
.textBody{
    max-width: 400px;
}
.sectionTitle{
    text-align: start;
    margin-left: 20%;
    color: burlywood;
}

.projectContainer{
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    
}
.projectTextContainer{
    background-color: white;
    color: black;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 5%;
    border-radius: 2%;
    text-align: start;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.projectLogo{
    object-fit: cover;
    max-height: 350px;
    margin-top: 2%;
    width: 30vh;
    height: 25vh;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}

.techsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
}
