
body {
    font-family: "Lato", sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
    background-image: url("../images/backgroundImage.png");
}

.headerMenuContainer{
    justify-content: center;
    padding-left: 35%;
    padding-right: 35%;
}
.topMenuIconsContainer{
    background-color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.linkedinIcon{
    height: 50px;
}
.linkedinIcon:hover, .linkedinIcon:active {
    background-color: rgb(134, 169, 249);
}
.githubIcon{
    height: 50px;
}
.githubIcon:hover, .githubIcon:active {
    background-color: rgb(157, 157, 157);
}
.instagramIcon{
    height: 50px;
}
.instagramIcon:hover, .instagramIcon:active {
    background-color: rgb(255, 176, 176);
}
.mailIcon{
    height: 45px;
}
.mailIcon:hover, .mailIcon:active {
    background-color: rgb(231, 200, 106);
}


.mainContainer {
    text-align: start;
    padding-top: 2%;
    margin-left: 5%;
    margin-right: 5%;

}

.perfilContainer{
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    
}
.imageContainer{
    display: block;
    max-height: 400px;
    margin-bottom: 5%;
}

.imagePerfil{
    object-fit: cover;
    max-height: 400px;
    width: 80%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}
.profileTextContainer{
    background-color: white;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2%;
    margin-bottom: 5%;
    text-align: start;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
}

.textTitle{
    color: rgb(198, 147, 81);
    margin-bottom: 10%;
}
.textBody{
    max-width: 600px;
}